* {
  box-sizing: border-box;
  font-family: "Roboto";
}

.select-session {
  overflow-y: scroll;
  margin-top: 60px;
}

.select-session h3 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#293845;
  font-size: 24px;
}

.select-session div.sessions {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.select-session div.sessions div.weekday {
  height: 90px;
  display:flex;
  padding-left: 25px;
  padding-left: 25px;
  flex-direction: column;
  gap: 19px;

  font-size: 20px;
  color: #293845;
}

.select-session div.sessions div.weekday div.schedules {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.select-session div.sessions div.weekday button {
  height: 43px;
  width: 82px;
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  background-color: #E8833A;
  border-radius: 3px;
  border: 0;
} 



